{# /template/pro_stages/listeStages.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
	ProSatges / {{ name }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block header %}
	<h1  align="center">ProStages</h1>
{% endblock %}
		
{% block menu %}
{% endblock %}
		
{% block contenu %}
	<div class="container-fluid" style="padding-top: 50px">
		<div class="row">
			<div class="col-12">
				<table class="table table-striped">
				  <thead>
						<tr>
						  <th scope="col">Titre</th>
						  <th scope="col">Nom Entreprise</th>
						  <th scope="col">Activité</th>
						  <th scope="col">Adresse</th>
						  <th scope="col">Missions</th>
						  <th scope="col">Formations</th>
						  <th scope="col">e-mail</th>
						</tr>
				  </thead>
				  <tbody>
					
						<tr>
						  <td>Voilà le Stage n°{{idStage}}</td>
						  <td>entreprise {{idStage}}</td>
						  <td>activité n°{{idStage}}</td>
						  <td>Rue {{idStage}}</td>
						  <td>Mission n°{{idStage}}</td>
						  <td>Formations n°{{idStage}}</td>
						  <td>{{idStage}}@gmail.com</td>
						</tr>
				  </tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
		
{% block footer %}
{% endblock %}
		
{% block javascript %}
{% endblock %}
