{# /template/pro_stages/listeEntreprises.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
	ProSatges / {{ name }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block header %}
	<h1  align="center">ProStages</h1>
	<h2  align="center">Choisir les stages en fonction de l'entreprise</h2>
{% endblock %}
		
{% block menu %}
{% endblock %}
		
{% block contenu %}
	<div class="container">
		<div class="row">      <!--style="padding-top: 20px; padding-bottom: 20px"-->
			{% for entrepriseCourante in entreprises %}
				<div class="col-md-4 col-sm-6 col-xs-12" align="center" style="padding-top: 20px; padding-bottom: 20px">
					<div class="card" style="width: 15rem;">
					  <div class="card-header" align="center">
						<a href="{{ path('ProStages_Stages_Par_Nom_Entreprise', {'nomEntreprise':entrepriseCourante.nom}) }}">{{ entrepriseCourante.nom }}</a>
					  </div>
					  <ul class="list-group list-group-flush">
						<li class="list-group-item">{{ entrepriseCourante.activite }}</li>
						<li class="list-group-item">{{ entrepriseCourante.adresse }}</li>
						<li class="list-group-item"><a href="">{{ entrepriseCourante.adresseWeb }}</a></li>
					  </ul>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
		
{% block footer %}
{% endblock %}
		
{% block javascript %}
{% endblock %}



