{# /template/pro_stages/listeStages.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
	ProStages - Stage
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}

{% block header %}
	<h1  align="center">ProStages</h1>
{% endblock %}
		
{% block menu %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12  col-sm-12 col-xs-12">
				<!--BARRE DE NAVIGATION-->
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
				  <a class="navbar-brand" href="/">Trier les stages par : </a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
					  <li class="nav-item">
						<a class="nav-link" href="/formations">Formation</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="/entreprises">Entreprise</a>
					</ul>
				  </div>
				</nav>
			</div>
		</div>
	</div>
{% endblock %}
		
{% block contenu %}
	<div class="container-fluid" style="padding-top: 50px">
		<div class="row">
			<div class="col-12">
				<table class="table table-striped">
				  <thead>
						<tr>
						  <th scope="col">Titre</th>
						  <th scope="col">Nom</th>
						  <th scope="col">Activité</th>
						  <th scope="col">Adresse</th>
						  <th scope="col">Missions</th>
						  <th scope="col">Formations</th>
						  <th scope="col">e-mail</th>
						</tr>
				  </thead>
				  <tbody>
					<tr>
					  <td>Voilà le Stage n°{{idStage}}</td>
					  <td>{{idStage}}</td>
					  <td>{{idStage}}</td>
					  <td>{{idStage}}</td>
					  <td>{{idStage}}</td>
					  <td>{{idStage}}</td>
					  <td>{{idStage}}</td>
					</tr>
				  </tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
		
{% block footer %}
{% endblock %}
		
{% block javascript %}
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="/js/bootstrap.min.js"></script>
{% endblock %}
